@font-face {
    font-family: 'Palatino Linoype';
    src: url(fonts/Palatino.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amalfi Coast';
    src: url(fonts/Amalfi Coast.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s linear;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background-image: url(background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

    .container form {
        padding: 20px;
        width: 700px;
        background: #fff;
        box-shadow: 0 10px 10px rgba(0,0,0,.1);
    }

        .container form .row {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

            .container form .row .col {
                flex: 1 1 250px;
            }

                .container form .row .col .inputBox {
                    margin: 15px 0;
                }

                    .container form .row .col .inputBox span {
                        margin-bottom: 10px;
                        display: block;
                    }

.success {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}

.container form .row .col .inputBox input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
}


.container form .clear-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: DodgerBlue;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}

    .container form .clear-btn:hover {
        background: #0c20a6;
    }

#down {
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 17px;
    margin-top: 5px;
    position: center;
}

#logout-btn {
    width: 100%;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 17px;
    margin-top: 5px;
    position: center;
}

.container form .down-btn:hover {
    background: #0c20a6;
}

.container form .logout-btn:hover {

    background: #0c20a6;

}

#tin {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

#votersID {
    display: none;
}

#passportID {
    display: none;
}

#driversID {
    display: none;
}

#postalID {
    display: none;
}

#prcID {
    display: none;
}

#philhealthID {
    display: none;
}

#sssID {
    display: none;
}

#ofwID {
    display: none;
}
